# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.whl

# Virtual environments
.venv/
venv/
env/
ENV/

# Dot folders
.vscode/
.idea/
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Logs
log/

# Cache
cache/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*
